*{
  margin: 0%;
  padding: 0%;
}
header{
  background-color: black;
  padding: 2%;
}
body{
background-image: url(https://st2.depositphotos.com/1244201/10066/i/450/depositphotos_100668504-stock-photo-navy-blue-canvas-texture.jpg);
}
table, th, td {
    border: 2px solid white;
    border-collapse: collapse;
  }
.fixture{
  color: white;
}
.liga{
  margin-top: 30px;
  color:white;
}
.Copa{
  margin-top: 30px;
  color: white;
}

.day{
  margin-top: 20px;
  color: black;
  height: 50px;
  width: 150px;
  border:solid black 4px;

}
.botones{
  display: flex;
  justify-content: space-evenly;
}
h1{
  color:white ;
}